.container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  :global(youtube-video) {
    min-width: 0 !important;
    min-height: 0 !important;
  }
}

.aspectRatio {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  z-index: 1;
}
