.container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  // YouTube埋め込みプレイヤーのサイズを強制的に制約
  :global(youtube-video),
  :global(iframe) {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
  }
}

.aspectRatio {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px) {
    padding-bottom: 0;
    height: 100%;

    > div {
      position: relative;
    }
  }
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  z-index: 1;
}
